<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>Hey this is ejs template</h1>
  <button  onclick="hi()" >Click me</button>



  <script src="/javascripts/home.js"></script>
</body>
</html>