<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feed Page</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
  </head>
  <body>
    

    <div class="container">
      <div class="box">
        <a
          href="https://images.unsplash.com/photo-1718703358140-20d926a089e0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHx8"
        >
          <img
            src="https://images.unsplash.com/photo-1718703358140-20d926a089e0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHx8"
            alt="image"
        /></a>
        <div class="caption">Lorem ipsum</div>
      </div>


      <div class="box">
        <a
          href="https://images.unsplash.com/photo-1718792679559-5cfd607bb564?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw4fHx8ZW58MHx8fHx8"
        >
          <img
            src="https://images.unsplash.com/photo-1718792679559-5cfd607bb564?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw4fHx8ZW58MHx8fHx8"
        /></a>
        <div class="caption">Lorem ipsum</div>
      </div>

      <div class="box">
        <a
          href="https://images.unsplash.com/photo-1718297991951-717874c94eeb?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxN3x8fGVufDB8fHx8fA%3D%3D"
        >
          <img
            src="https://images.unsplash.com/photo-1718297991951-717874c94eeb?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxN3x8fGVufDB8fHx8fA%3D%3D"
        /></a>
        <div class="caption">Lorem ipsum</div>
      </div>
      <div class="box">
        <a
          href="https://images.unsplash.com/photo-1714919031652-96d98e4276f8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMnx8fGVufDB8fHx8fA%3D%3D"
        >
          <img
            src="https://images.unsplash.com/photo-1714919031652-96d98e4276f8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMnx8fGVufDB8fHx8fA%3D%3D"
        /></a>
        <div class="caption">Lorem ipsum</div>
      </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  </body>
</html>
